body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
}

nav {
    background-color: #000000;
    opacity: 0.8;
}

.navigation_text {
    font-size: 1.3rem;
    color: #d3d3db;
    font-weight: 800;
}

.navigation_text:hover {
    
}

.social_logo {
    color: #d3d3db;
    font-size: 2rem;
}