/*Universal Styles*/
body {
    font-size: 16px;
    font-family: Montserrat, sans-serif;
    text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

/*Nav Styles*/
nav {
    background-color: rgba(107, 124, 147, 0.8);
}

.hide-on-scroll {
    display: none;
}

.nav-item {
    font-size: 1.3rem;
    color: rgb(0, 6, 12, 1);
    font-weight: 600;
}

#nav-link-color {
    color: rgba(0, 0, 0, 1);
}

#nav-link-color:hover {
    color: rgba(0, 0, 0, 0.5);
}

.social_logo {
    font-size: 2rem;
}

#collapsibleNavbar {
    text-align: center;
}

/*Jumbotron Styles*/
.jumbotron {
    background-image: url(../images/patrick-fore-362583-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 40rem;
}

.display-4 {
    width: 480px;
    color: #F6F9FC;
    padding-top: 5rem;
    font-size: 4rem;
    line-height: 1.9;   
}

.first-header {
    font-weight: 600;
    color: rgb(187, 115, 48);
}

.second-header {
    font-size: 1rem;
    margin-bottom: 3rem;
}

/*Our Story Styles*/
#our-story {
    padding-top: 6.25rem;
}

/*Our Beers Styles*/
.beer {
    background-color: rgb(166, 216, 193);
    margin-right: 1rem;
    margin-left: 1rem;
    margin-bottom: 3rem;
    padding-top: 1rem;
    height: auto;
}

.ourbeers {
    text-align: center;
    margin-bottom: 2rem;
    font-weight: 600;
    padding-top: 6.25rem;
}

h5 {
    font-size: 2rem;
}

h6 {
    font-size: 1.3rem;
}

p {
    font-size: 1rem;
}

/*Beer Finder Styles*/
#beerfinder {
    margin-top: 2rem;
    padding-top: 6.25rem;
}

h1 {
    text-align: center;
}

h2 {
    text-align: center;
}

/*Footer Styles*/
footer {
    height: 4rem;
    background-color: rgba(107, 124, 147, 0.8);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding-top: 1.5rem;
    margin-top: 6.25rem;
}

/*Mobile Styles*/
@media only screen and (max-width: 482px) {
    .display-4 {
        font-size: 3rem;
    }
}

@media (max-width: 575px) {
  nav.navbar {
    background-color: rgba(107, 124, 147, 1);
    }
}